.button {
    border-radius: 5px;
    font-size: 1.125rem;
    height: 2.375em;
    border-width: 0;
    font-weight: 600;
    transition-duration: 86ms;
    margin-bottom: 2rem;
    box-shadow: 0 3px 4px 0 rgba(0, 36, 230, 0.07);
}

.button.is-link {
    background-image: linear-gradient(90deg, #00aaff, #0064e6);
    border-color: transparent;
    color: #fff;
}

.button.is-danger.is-active, .button.is-danger:active {
    background-color: #ff1f4b;
    background-image: none;
    border-color: transparent;
    color: #fff;
}

.button.is-light {
    background-color: transparent;
    border-color: transparent;
    color: #463853;
}

.button.is-light:hover {
    background-color: #f7f7f7;
    border-color: transparent;
    color: #463853;
}

.button.navbar-item.is-warning {
    background-color: #3d7fef;
    border-color: transparent;
    color: white;
}

.button.navbar-item.is-warning:hover {
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0,0,0,.7);
}

a.button.is-medium.is-link.is-warning.is-active {
    background-color: #ffd83d;
    background-image: none;
    border-color: transparent;
    color: rgba(0,0,0,.7);
}

